__pycache__/
venv/
.idea/
test/
.DS_Store
.coverage
*.iml
*.egg-info/
QUESTIONS
.hypothesis/
*.swp
*.pyre*
base.Dockerfile
finish.Dockerfile
license.dat
serial.txt
ofrak_core/ofrak/core/entropy/entropy.so.1
frontend/public/build
ofrak_core/ofrak/core/entropy/entropy_c.cpython*
ofrak_core/ofrak/gui/public
ofrak_core/build
ofrak_io/build/
ofrak_patch_maker/build/
ofrak_type/build/
disassemblers/ofrak_ghidra/ofrak_ghidra/config/ofrak_ghidra.conf.yml
