site_name: OFRAK Docs
site_url: ""  # Required to have file:// paths work
site_description: "Documentation for OFRAK (Open Firmware Reverse Analysis Konsole), a binary analysis and modification platform that combines the ability to unpack, analyze, modify, and repack binaries. "
copyright: Copyright &copy; 2021 - 2025 Red Balloon Security, Inc.
repo_url: https://github.com/redballoonsecurity/ofrak
use_directory_urls: false  # Required to have file:// paths work
theme:
  name: material
  font:
    text: Barlow
  logo: assets/icon_2.png
  favicon: assets/favishroom_smol.png
  palette:
    - scheme: slate
extra_css:
  - stylesheets/extra.css

plugins:
  - search
  - mkdocstrings:
      watch:
        - ofrak_core
      handlers:
        python:
          rendering:
            show_root_heading: yes
            show_root_toc_entry: no
            members_order: source
          selection:
            docstring_style: "restructured-text"
            # mkdocstrings tries to display this for some reason, and it breaks the docs
            filters:
              - "!^__view_attributes_type__"

  - gen-files:
      scripts:
        - docs/gen_ref_nav.py
        - docs/gen_example_nav.py
  - literate-nav:
      nav_file: SUMMARY.md

markdown_extensions:
  - admonition
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true

nav:
  - Home: "index.md"
  - Getting Started: "getting-started.md"
  - Installing OFRAK:
      - Choose Your Method: "install/index.md"
      - Install from PyPI: "install/pypi.md"
      - Install from Source: "install/source.md"
      - Use Docker: "install/docker.md"
  - OFRAK CLI: "ofrak-cli.md"
  - Examples: examples/
  - User Guide:
      - Key Concepts:
        - Resource: "user-guide/key-concepts/resource.md"
        - ResourceView: "user-guide/key-concepts/resource_view.md"
        - Components:
          - ComponentInterface: "user-guide/key-concepts/component/component.md"
          - Identifier: "user-guide/key-concepts/component/identifier.md"
          - Unpacker: "user-guide/key-concepts/component/unpacker.md"
          - Analyzer: "user-guide/key-concepts/component/analyzer.md"
          - Modifier: "user-guide/key-concepts/component/modifier.md"
          - Packer: "user-guide/key-concepts/component/packer.md"
      - GUI:
        - Minimap View: "user-guide/gui/minimap.md"
        - Keybindings: "user-guide/gui/keybindings.md"
        - Settings: "user-guide/gui/settings.md"
        - Projects: "user-guide/gui/projects.md"
      - Disassembler Backends:
        - Ghidra Backend: "user-guide/disassembler-backends/ghidra.md"
        - PyGhidra Backend: "user-guide/disassembler-backends/pyghidra.md"
        - Cached Disassembly Backend: "user-guide/disassembler-backends/cached_disassembly.md"
        - Binary Ninja Backend: "user-guide/disassembler-backends/binary_ninja.md"
        - Angr Backend: "user-guide/disassembler-backends/angr.md"
        - Gotchas: "user-guide/disassembler-backends/gotchas.md"
      - Advanced:
        - PatchMaker:
          - User Guide: "user-guide/advanced/patch-maker/user-guide.md"
          - Troubleshooting: "user-guide/advanced/patch-maker/troubleshooting.md"
        - NAND Flash Component: "user-guide/advanced/flash_component.md"
  - Contributor Guide:
      - Getting Started: "contributor-guide/getting-started.md"
      - Requirements: "contributor-guide/requirements.md"
      - Writing Components:
        - Identifier: "contributor-guide/component/identifier.md"
        - Unpacker: "contributor-guide/component/unpacker.md"
        - Analyzer: "contributor-guide/component/analyzer.md"
        - Modifier: "contributor-guide/component/modifier.md"
        - Packer: "contributor-guide/component/packer.md"
        - Components Using External Tools: "contributor-guide/component/external_tools.md"
        - Ghidra Components: "contributor-guide/component/ghidra_components.md"
      - ResourceView: "contributor-guide/core/resource_view.md"
  # Built by gen-files and literate-nav
  - Code Reference: reference/
  - License: "license.md"
