aiohttp~=3.10.11
aiohttp-cors~=0.7.0
beartype~=0.12.0
bincopy==20.0.0
black==23.3.0
cryptography==43.0.3
fdt==0.3.3
GitPython==3.1.41
importlib-metadata>=4.13
intervaltree==3.1.0
keystone-engine==0.9.2
jefferson==0.4.5;python_version>="3.8"
lief==0.16.1
orjson==3.10.16
pefile==2023.2.7
pycdlib==1.12.0
python-magic;platform_system!="Windows"
python-magic-bin;platform_system=="Windows"
reedsolo==1.7.0
sortedcontainers==2.2.2
synthol~=0.1.1
tempfile312~=1.0.1
typeguard~=2.13.3
ubi-reader==0.8.5
xattr==0.10.1;platform_system!="Windows"
