autoflake==1.4
pytest
hypothesis~=6.39.3
hypothesis-trio
trio-asyncio
mypy==0.942
psutil~=5.9
pyelftools==0.29
pytest-aiohttp
pytest-asyncio==0.19.0
pytest-lazy-fixture
pytest-cov
pytest-xdist
requests
fun-coverage==0.2.0
