autoflake==1.4
# pytest-lazy-fixture does not work with pytest 8.0.0 - https://github.com/TvoroG/pytest-lazy-fixture/issues/65
pytest<8.0
filelock
hypothesis~=6.39.3
hypothesis-trio
trio-asyncio
mypy==0.942
psutil~=5.9
pyelftools==0.29
pytest-aiohttp
pytest-asyncio==0.19.0
pytest-lazy-fixture
pytest-cov
pytest-xdist
requests
types-aiofiles
fun-coverage==0.2.0
