# TODO: improve caching keys – flush if dependencies change

name: OFRAK CI

on:
  pull_request:
    branches:
      - master
  schedule: 
    - cron: '0 0 * * *'
  workflow_dispatch: 
    inputs:

permissions:
  contents: read

defaults:
  run:
    shell: bash

jobs:
  lint:
    name: Lint and typecheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: pip
          cache-dependency-path: '**/setup.py'
      - name: Install pre-commit
        run: |
          python3 -m pip install pre-commit
          pre-commit install
      - name: Run pre-commit
        run: |
          pre-commit run --all-files

  build-base-image:
    name: Build the common base OFRAK Docker image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: pip
          cache-dependency-path: '**/setup.py'
      - name: Cache base image
        id: cache-image
        uses: actions/cache@v3
        with:
          key: ofrak-core-dev
          path: ofrak-base.tar.gz
      - name: Build base image
        if: steps.cache-image.outputs.cache-hit != 'true'
        run: |
          python3 -m pip install PyYAML
          DOCKER_BUILDKIT=1 python3 build_image.py --config ofrak-core-dev.yml --base 
      - name: Export base image
        if: steps.cache-image.outputs.cache-hit != 'true'
        run: |
          sudo apt install pigz
          docker save redballoonsecurity/ofrak/core-dev-base:latest \
            | pigz -9 \
            > ofrak-base.tar.gz

  ofrak-ghidra:
    name: Test OFRAK Ghidra components
    runs-on: ubuntu-latest
    needs: build-base-image
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: pip
          cache-dependency-path: '**/setup.py'
      - name: Cache base image
        id: cache-image
        uses: actions/cache@v3
        with:
          key: ofrak-core-dev
          path: ofrak-base.tar.gz
      - name: Load base image
        run: |
          docker load --input ofrak-base.tar.gz
          docker images
      - name: Build Ghidra image
        run: |
          python3 -m pip install PyYAML
          DOCKER_BUILDKIT=1 \
          python3 build_image.py \
            --config ofrak-ghidra.yml \
            --base \
            --finish \
            --cache-from redballoonsecurity/ofrak/core-dev-base:latest
      - name: Test documentation
        run: |
          docker run \
            --interactive \
            --rm \
            --entrypoint bash \
            --volume "$(pwd)":/ofrak \
            redballoonsecurity/ofrak/ghidra:latest \
            -c "cd /ofrak \
                && mkdocs build --site-dir /tmp/docs"
      - name: Test components
        run: |
          docker run \
            --interactive \
            --rm \
            --entrypoint bash \
            redballoonsecurity/ofrak/ghidra:latest \
            -c "python -m ofrak_ghidra.server start \
                && make test"

  ofrak-angr:
    name: Test OFRAK angr components
    runs-on: ubuntu-latest
    needs: build-base-image
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: pip
          cache-dependency-path: '**/setup.py'
      - name: Cache base image
        id: cache-image
        uses: actions/cache@v3
        with:
          key: ofrak-core-dev
          path: ofrak-base.tar.gz
      - name: Load base image
        run: |
          docker load --input ofrak-base.tar.gz
          docker images
      - name: Build angr image
        run: |
          python3 -m pip install PyYAML
          DOCKER_BUILDKIT=1 \
          python3 build_image.py \
            --config ofrak-angr.yml \
            --base \
            --finish \
            --cache-from redballoonsecurity/ofrak/core-dev-base:latest
      - name: Test components
        run: |
          docker run \
            --interactive \
            --rm \
            --entrypoint bash \
            --volume "$(pwd)":/ofrak \
            redballoonsecurity/ofrak/angr:latest \
            -c "make -C /ofrak_angr test"

  ofrak-tutorial:
    name: Test OFRAK tutorial notebooks
    runs-on: ubuntu-latest
    needs: build-base-image
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: pip
          cache-dependency-path: '**/setup.py'
      - name: Cache base image
        id: cache-image
        uses: actions/cache@v3
        with:
          key: ofrak-core-dev
          path: ofrak-base.tar.gz
      - name: Load base image
        run: |
          docker load --input ofrak-base.tar.gz
          docker images
      - name: Build tutorial image
        run: |
          python3 -m pip install PyYAML
          DOCKER_BUILDKIT=1 \
          python3 build_image.py \
            --config ofrak-tutorial.yml \
            --base \
            --finish \
            --cache-from redballoonsecurity/ofrak/core-dev-base:latest
      - name: Test components
        run: |
          docker run \
            --interactive \
            --rm \
            --entrypoint bash \
            redballoonsecurity/ofrak/tutorial:latest \
            -c "python -m ofrak_ghidra.server start \
                && make -C /ofrak_tutorial test"
